@{
    ViewData["Title"] = "Esta página foi desenvolvida por Leonardo Campos";
}
<h1>@ViewData["Title"]</h1>

<footer class="footer">
<address>
    <strong>More information: </strong> <a href="https://www.linkedin.com/in/leo-campos-a6113534/">Linkedin</a>
    <br />
    <strong>Projeto: </strong> <a href="https://github.com/Leopcampos/ASPNET6MvcSQLServer">GitHub</a>
</address>

<p>Projeto usando o ASP.NET 6 / MVC / Entity FM / SQL Server / Visual Studio 2022</p>
</footer>