@{
    ViewData["Title"] = "Leonardo Campos";
}
<div class="mobile">
    <h1>@ViewData["Title"]</h1>


    <address>
        <strong>More information: </strong> <a href="https://www.linkedin.com/in/leo-campos-a6113534/">Linkedin</a>
        <br />
        <strong>Projeto: </strong> <a href="https://github.com/Leopcampos/ASPNET6MvcSQLServer">GitHub</a>
    </address>

    <img class="img" src="~/img/Leo.jpg" />
</div>

<p class="tecnology">Projeto usando o ASP.NET 6 / MVC / Entity FM / SQL Server / Visual Studio 2022</p>
